<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div *ngIf="searchMode == false">
      <h4>Category: {{ currentCategoryName }}</h4>
      <hr />
    </div>

    <!-- if products empty then display a message -->
    <div *ngIf="products?.length == 0" class="mt-5 mb-5 pt-5 pb-5">
      <h2 class="text-center">No products found!</h2>
    </div>

    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <div
        *ngFor="let tempProduct of products"
        class="col mb-5 justify-content-center"
      >
        <div class="card h-100">
          <!-- Sale badge-->
          <div
            *ngIf="tempProduct.unitsInStock == 0"
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Sold Out
          </div>
          <!-- Product image-->

          <a routerLink="/products/{{ tempProduct.id }}">
            <img
              class="card-img-top mx-auto d-block"
              src="{{ tempProduct.imageUrl }}"
              alt="..."
            />
          </a>

          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <a
                routerLink="/products/{{ tempProduct.id }}"
                class="link-dark text-decoration-none"
              >
                <h5 class="fw-bolder">{{ tempProduct.name }}</h5>
              </a>
              <!-- Product price-->

              <!--
              <span class="text-muted text-decoration-line-through"
                >$50.00</span
              >
              -->
              <p>{{ tempProduct.unitPrice | currency: "USD" }}</p>

              <div class="badge bg-dark" style="top: 0.5rem; right: 0.5rem">
                {{ tempProduct.category.categoryName }}
              </div>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-pagination">
      <div class="row">
        <div class="col-md-6"></div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-9" style="padding-left: 30%">
              <ngb-pagination
                [(page)]="thePageNumber"
                [pageSize]="thePageSize"
                [collectionSize]="theTotalElements"
                (pageChange)="listProducts()"
              >
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
